# ModRewrite activate
RewriteEngine On

# Let files and folder through
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# rewrite URL
RewriteRule (.+) index.php?path=$0 [L,QSA]